APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret


## Piwidict Wiktionary Database ##
DB_WIKT_USERNAME=pw_user
DB_WIKT_USERPASS=user_password
DB_WIKT_DATABASE_RU=ruwikt20160210
DB_WIKT_DATABASE_EN=enwikt
## eo Piwidict Wiktionary Database ##


## OAuth Socialite
GITHUB_ID=github_client_id
GITHUB_SECRET=github_client_secret
GITHUB_URL=github_callback_url

GOOGLE_ID=google_client_id
GOOGLE_SECRET=google_client_secret
GOOGLE_URL=google_callback_url

FB_ID=facebook_client_id
FB_SECRET=facebook_client_secret
FB_URL=facebook_callback_url
## OAuth Socialite


CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
